<div class="hikerog-top">

  <header>
    <div class="uk-container uk-container-center">
      <h1>hikerog</h1>
    </div>
  </header>

  <section class="contents-top">
    <div class="uk-container uk-container-center">

      <div class="uk-grid">

        <div class="uk-width-small-4-6">
          <div class="catch-copy">
            <h2 class="catch-copy_title">hikerogは、hikerのlogを共有できる<br />山行記録サービスです。</h2>
            <p>登った山を記録に残そう。まずは<%= link_to '登録', new_user_registration_path %>から。</p>
          </div>
        </div>

        <div class="uk-width-small-2-6">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { :class => "uk-form home-login" }) do |f| %>
            <fieldset>
              <div class="uk-form-row">
                <%= f.email_field :email, placeholder: 'メールアドレス', class: 'uk-width-1-1', autofocus: true %>
              </div>
              <div class="uk-form-row">
                <%= f.password_field :password, placeholder: 'パスワード',  class: 'uk-width-1-1', autocomplete: "off" %>
              </div>
              <div class="uk-form-row">
                <%= f.button "ログイン", class: 'uk-button uk-button-success uk-width-1-1' %>
              </div>
            </fieldset>
          <% end %>
          <div class="home-signin">
            <%= link_to '新規登録', new_user_registration_path, class: 'uk-button uk-button-primary' %>
          </div>
        </div>

      </div>

      <div class="uk-grid">
        <div class="uk-width-1-1">
          <div class="hikerog-search">
            <h2>はいくログを検索</h2>
            <p>山名、地域、メンバーなど様々な項目で検索が可能です。</p>
          </div>
        </div>
      </div>

      <div class="uk-grid">
        <div class="uk-width-1-1">
          <%= form_tag yamalogs_path, :class => "uk-form", :method => 'get' do %>
            <div class="uk-grid">
              <div class="uk-width-4-6">
                <div class="uk-form-row">
                  <%= text_field_tag :search, params[:search], class: 'uk-width-1-1', placeholder: '山名' %>
                </div>
              </div>
              <div class="uk-width-2-6">
                <div class="uk-form-row">
                  <%= button_tag "検索", :yama_name => nil, class: 'uk-button uk-button-success uk-width-1-1' %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>


    </div>
  </section>

</div>

<section class="section section-inverse yamalog">
  <div class="uk-container uk-container-center">
    <div class="uk-grid">
      <div class="uk-width-1-1 subtitle">
        <h2>投稿されたはいくログ</h2>
      </div>
    </div>
    <div class="uk-grid">
      <% @yamalogs.each do |yamalog| %>
          <div class="uk-width-medium-1-2 uk-width-large-1-3 top-hikerog">
            <div class="uk-panel uk-panel-box uk-panel-box-secondary">
                <%= link_to(yamalog) do %>
                  <h3 class="uk-panel-title"><%= yamalog.yama_name %></h3>
                <% end %>
                <%= yamalog.yama_date %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</section>
