<div class="hikerog-top">

  <header>
    <div class="container">
      <h1>hikerog</h1>
    </div>
  </header>

  <section class="contents-top">
    <div class="container">

      <div class="row">

        <div class="col-sm-8">
          <div class="catch-copy">
            <h2 class="catch-copy_title">hikerogは、hikerのlogを共有する<br />山行記録サービスです。</h2>
            <p>登った山を記録に残そう。まずは<%= link_to '登録', new_user_registration_path %>から。</p>
          </div>
        </div>

        <div class="col-sm-4">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { :class => "form-horizontal home-login" }) do |f| %>
            <fieldset>
              <div class="form-group">
                <div class="col-xs-12">
                  <%= f.email_field :email, class: 'form-control', placeholder: 'メールアドレス', autofocus: true %>
                </div>
              </div>

              <div class="form-group">
                <div class="col-xs-12">
                  <%= f.password_field :password, class: 'form-control', placeholder: 'パスワード', autocomplete: "off" %>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-12">
                  <%= f.submit "ログイン", class: 'btn btn-block btn-success' %>
                </div>
              </div>
            </fieldset>
          <% end %>
          <div class="home-signin">
            <%= link_to '新規登録', new_user_registration_path, class: 'btn btn-block btn-primary' %>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="hikerog-search">
            <h2>はいくろぐを検索</h2>
            <p>山名、地域、メンバーなど様々な項目で検索が可能です。</p>
          </div>
        </div>
      </div>

      <div class="row">
        <%= form_tag yamalogs_path, :method => 'get' do %>
            <div class="col-xs-8 col-sm-6 col-sm-offset-2">
              <div class="form-group">
                <label class="sr-only" for="search">山行記録の検索</label>
                <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: '山名' %>
              </div>
            </div>
            <div class="col-xs-4 col-sm-2">
              <%= submit_tag "検索", :yama_name => nil, class: 'btn btn-success btn-block' %>
            </div>
        <% end %>
      </div>

    </div>
  </section>

</div>

<section class="section section-inverse yamalog">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 subtitle">
        <h2>投稿されたハイクログ</h2>
      </div>
    </div>
    <div class="row">
      <% @yamalogs.each do |yamalog| %>
          <div class="col-md-4 top-hikerog">
            <%= link_to(yamalog, class: 'list-group-item') do %>
                <h4><%= yamalog.yama_name %></h4>
                <p><%= yamalog.yama_date %></p>
            <% end %>
          </div>
      <% end %>
    </div>
  </div>
</section>

<!-- <section class="section section-default point">
  <div class="container">
    <div class="row">
    </div>
  </div>
</section> -->
