<header id="navigation">
  <div class="navbar navbar-default navbar-fixed-top" role="banner">
    <div class="container">
      <!-- スマートフォンサイズで表示されるメニューボタンとテキスト -->
      <div class="navbar-header">

        <!--
          メニューボタン
          data-toggle : ボタンを押したときにNavbarを開かせるために必要
          data-target : 複数navbarを作成する場合、ボタンとナビを紐づけるために必要
        -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-menu-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <!-- タイトルなどのテキスト -->
        <%= link_to 'hikerog', root_path, class: 'navbar-brand' %>
      </div>

      <div class="collapse navbar-collapse" id="nav-menu-1">

        <!-- 各ナビゲーションメニュー -->
        <ul class="nav navbar-nav">

          <!-- 通常のリンク -->
          <li><%= link_to 'ヤマログを探す', yamalogs_path %></li>
          <% if user_signed_in? %>
            <li><%= link_to 'ヤマログを投稿', new_yamalog_path %></li>
          <% else %>
            <li><%= link_to '新規登録', new_user_registration_path %></li>
          <% end %>

          <!-- ドロップダウンのメニューも配置可能 -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu</a>
            <ul class="dropdown-menu">
              <% if user_signed_in? %>
                <li><%= link_to 'プロフィール編集', edit_user_registration_path %></li>
                <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li><%= link_to 'ログイン', new_user_session_path %></li>
              <% end %>
              <li><%= link_to 'お問い合わせ', help_path %></li>
              <li class="divider"></li>
              <li><%= link_to 'トップ', root_path %></li>
            </ul>
          </li>

        </ul>

      </div>

    </div>
  </div>
</header>